.footPart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin: 20px 0px 0px 0px;
    border-top: solid 2px #131111;
    background-color: #ff3700;

}

.footerInfo{
    display: grid;
    grid-template-columns: auto auto auto;
    color: white; 
    justify-content: center;
    text-align: left;
}

.brand p{
    font-style: italic;
}


.IconsBar{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.social{
    align-items: center;
}

.social .icon{
    background-color: #f0f0f0;
    border-radius: 5px;
    
}

